@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {

    /* Font */
    --main-font: "Rajdhani", sans-serif;

    /* Colors */

    --color-one: #ffb800;
    --color-two: #330099;
    --color-three: #fd2282;
    --color-four: #fd2282;
    --color-five: #040348;
    --color-six: #FBFBFB;
}

*,
*::before,
*::after {
    transition: color 1s ease;
    transition: background-color 1s ease;
}

/* Certifique-se de que a transição também aplique a outros elementos que você deseja animar */
body {
    transition: color 1s ease;
    transition: background-color 1s ease;
}